[submodule "projects/orwynn"]
	path = projects/orwynn
	url = git@github.com:slimebones/orwynn.git
	branch = master
[submodule "projects/pykit"]
	path = projects/pykit
	url = git@github.com:slimebones/pykit.git
[submodule "projects/pyrxcat"]
	path = projects/pyrxcat
	url = git@github.com:slimebones/pyrxcat.git
[submodule "projects/pyfcode"]
	path = projects/pyfcode
	url = git@github.com:slimebones/pyfcode.git
[submodule "projects/uvicorn"]
	path = projects/uvicorn
	url = git@github.com:slimebones/uvicorn.git
