<form
    class="flex flex-row gap-4 justify-center items-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
  <ngx-kit-mat-input
      #inp
      class="text-black"
      [type]="InputType.Text"
      (keydown.enter)="onKeydownEnter()"
      formControlName="name" />
  <ngx-kit-button
      type="submit"
      [extraCssClasses]="[
        'bg-c10-bg', 'text-c10-fg', 'hover:bg-c10-bg-active',
        'hover:text-c10-fg-active', 'rounded', 'h-8'
      ]">
    +
  </ngx-kit-button>
</form>
