@tailwind base;
@tailwind components;
@tailwind utilities;

// gen filters at https://angel-rs.github.io/css-color-filter-generator/

.filter-white
{
    filter: brightness(0) saturate(100%) invert(77%) sepia(47%) saturate(2574%) hue-rotate(191deg) brightness(101%) contrast(99%);
}

.filter-gray
{
    filter: brightness(0) saturate(100%) invert(49%) sepia(2%) saturate(639%) hue-rotate(211deg) brightness(94%) contrast(86%);
}

.filter-green
{
    filter: brightness(0) saturate(100%) invert(60%) sepia(70%) saturate(1759%) hue-rotate(41deg) brightness(93%) contrast(103%);
}
