<div class="relative">
  <ngx-kit-button
      [ngClass]="toggleBtnSelectors$ | async"
      [extraCssClasses]="['p-0']"
      (clickFunc)="toggleTiming()">
    <img class="h-10" src="assets/alarm_white.png" alt="">
  </ngx-kit-button>
  <div
      class="
        absolute right-2 top-16 bg-c30-bg p-4
        flex flex-col w-96 z-10 bg-header1-bg text-header1-fg rounded"
      *ngIf="isEnabled">
    <!-- Groups selector -->
    <div
        class="
          flex flex-row justify-start items-center gap-2">
    </div>
  </div>
</div>
