<div class="relative">
  <ngx-kit-button
      [ngClass]="toggleBtnSelectors$ | async"
      (clickFunc)="toggleTiming()">
    <img src="assets/alarm.svg" alt="">
  </ngx-kit-button>
  <div
      class="
        absolute right-2 top-12 bg-c30-bg p-4
        flex flex-col"
      *ngIf="isEnabled">
    <!-- Groups selector -->
    <div
        class="flex flex-row justify-start items-center">
      <div
          *ngFor="let kvp of groupToTimers">
        {{kvp | json}}
      </div>
      <div>
        <ngx-kit-button class="bg-c10-bg">
          +
        </ngx-kit-button>
      </div>
    </div>
  </div>
</div>
